<br>
<br>
<br>

<div lass="container">
  <div class="row centered">
	  <div class="col-lg-10 col-lg-offset-1">
      <div class="table-responsive">
      <table class="table table-borderless">
  <thead>
    <tr>
      <th class="danger">Name</th>
      <th class="danger">Age</th>
      <th class="danger">Gender</th>
      <th class="danger">Address</th>
      <th class="danger">Email</th>
      <th class="danger">Mobile</th>
      <th class="danger">Salary</th>
      <th class="danger">Bus Plate</th>
    </tr>
  </thead>

  <tbody>
    <% @assistants.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.age %></td>
        <td><%= driver.gender %></td>
        <td><%= driver.address %></td>
        <td><%= driver.email %></td>
        <td><%= driver.mobile %></td>
        <td><%= driver.salary %></td>
        <td><%= Bus.find(driver.id_bus).plate %></td>
        <td class="btn btn-success"><%= link_to 'Edit', edit_assistant_path(driver) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
