<br>
<br>
<div lass="container">
<div class="row centered">
<div class="col-lg-8 col-lg-offset-2">
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="danger">Departure Date</th>
      <th class="danger">Departure Time</th>
      <th class="danger">From</th>
      <th class="danger">To</th>
      <th class="danger">Available Seats</th>
      <th class="danger">Bus</th>
    </tr>
  </thead>

  <tbody>
    <% @voyages.each do |voyage| %>
      <tr>
        <td><%= voyage.v_date %></td>
        <td><%= Itinerary.find(voyage.id_itinerary).info%></td>
        <td  align="center"><%=City.find(voyage.from).name%></td>
        <td  align="center"><%=City.find(voyage.to).name%></td>
        <td><%= voyage.seats %></td>
        <td><%= voyage.id_bus %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  </div>
  </div>
  </div>
</div>
