<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://dacm12.comxa.com/assets/ico/favicon.png">
    
    <!--Application head-->
    <title>Viana</title>
    <link rel="shortcut icon" href="http://rortega.host22.com/img/kh2.png">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap core CSS -->
    <link href="http://dacm12.comxa.com/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://dacm12.comxa.com/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://dacm12.comxa.com/assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div lass="container">
<div class="row centered">
	<div class="col-lg-8 col-lg-offset-2">

<%= form_for(resource,class: 'form-horizontal', :as => resource_name, :url => session_path(resource_name)) do |f| %>
   <div class="form-group">
    <div class="col-sm-10">
      <h2 for="inputEmail3" class="col-sm-8 col-lg-offset-4 control-label"><strong>Sign in</strong></h2>
    </div>
  </div>
    
   <div class="form-group">
    <div class="col-sm-10">
      <label for="inputEmail3" class="col-sm-2 col-lg-offset-2 control-label"><i class="fa fa-user"></i></label>
      <%= f.email_field :email, :autofocus => true, placeholder: 'Email',class:'col-sm-8', id: 'inputEmail3' %>
    </div>
  </div>
  
    
   <div class="form-group">
    <div class="col-sm-10">
      <label for="inputEmail3" class="col-sm-2 col-lg-offset-2 control-label"><i class="fa fa-cogs"></i></label>
      <%= f.password_field :password, :autofocus => true, placeholder: 'Password',class:'col-sm-8', id: 'inputEmail3' %>
    </div>
  </div>
  
    
  <div class="form-group">
    <div class="col-sm-10">
      <div><%= f.submit "Sign in" ,class:'col-sm-2 col-sm-offset-7'%><BR>
          <div class="col-sm-2 col-sm-offset-7">
          <% if devise_mapping.rememberable? -%>
              <div class:'col-sm-7 col-sm-offset-2'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end %>
          </div>
      </div>
    </div>
  </div>



<% end %>

    </div>
  </div><!-- row -->
</div>

    
	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>Tegucigalpa</h4>
				<p>Gasolinera Puma Presidencial Boulevard Fuerzas Armadas
          <br>
          2225-6583 or 2225-6584
        </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>San Pedro Sula</h4>
					<p>Ave. Circunvalación, Plaza Comercial Geosur
          <br>
            2516-1644 or 2516-1649
          </p>
        </div><!-- col-lg-4 -->
			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>Ceiba</h4>
					<p>Gasolinera Puma Miramar
          <br>
            2441-2330 or 2441-2251
          </p>
      </div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>History</h4>
					    <p>Viana was founded in 1997, providing services to land transport of passengers and messaging between the cities of Tegucigalpa and San Pedro Sula.</p>
              <p>By 1998 extends its operation to the city of La Ceiba. Thanks to the preference of our customers today Viana has become a major trucking companies nationwide. Innovating in the service concepts that ensure our customers safety, timeliness and quality.</p> 
              <p>In 2006 Transport Viana was awarded as number one in its category with Topbrands award, the independent authority that promotes the discipline of branding and recognizes the most outstanding brands.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->
	
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="https://www.facebook.com/vianatransportes"><i class="fa fa-facebook"></i></a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://dacm12.comxa.com/assets/js/bootstrap.min.js"></script>
  </body>
</html>

