<div lass="container">
<div class="row centered">
	<div class="col-lg-8 col-lg-offset-2">
  <%= form_for(@ticketbill) do |f| %>
  <% if @ticketbill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticketbill.errors.count, "error") %> prohibited this ticketbill from being saved:</h2>

      <ul>
      <% @ticketbill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%if !current_user.admin?%>
  <div class="field" style="display: none;">
    <%= f.label :Customer %><br>
    <%= f.text_field :id_customer, :value => current_user.id, :readonly => true %>
  </div>
    <%else%>
      <%= f.label :Customer%><br>
      <%= f.select :id_customer, options_for_select(User.all.map{|s|[s.name,s.id]}) %><br>
    <%end%>
    <div class="field">
      <label for="ticket_selected">Ticket Price</label><br>
        <div class="controls">
          <%= f.collection_select :ticket_id, Ticket.all, "id", "info", prompt: '----------------- select a ticket -----------------' %>
        </div>
    </div>
    
    <div class="field">
      <label for="novo_itineraries">Departure Time</label>
      <div class="controls">
        <%= f.collection_select :itinerary_id, @itineraries, "id", "info", prompt: '----select an hour----' %>    
      </div>
    </div>
    
  <!--<div class="field">
    /*<%= f.label 'Ticket_Price' %><br>
    /*<%= f.select :ticket_id, options_for_select(Ticket.all.map{|s|[s.info,s.id]}), prompt: '--select a ticket--' %>
  </div>-->
  <!--<div class="field">
    /*<%= f.label :Departure_time %><br>
    /*<%= f.select :itinerary_id, options_for_select(Itinerary.all.map{|s|[s.info,s.id]}), prompt: '--select an hour--' %>  
  </div>-->
  <div class="field">
    <%= f.label :Departure_Date %><br>
    <%= f.date_select :departure_date %>
  </div>
  <div class="actions">
    <%= f.submit 'Buy Ticket'%>
  </div>
<% end %>
    </div>
  </div><!-- row -->
</div>


