<br>
<br>
<br>

<div lass="container">
  <div class="row centered">
	  <div class="col-lg-8 col-lg-offset-2">
      <%= link_to "Yearly Earnings with tickets",controller: 'queries', action: 'query1' %><br>
      <%= link_to "Total of customers by seat category and year",controller: 'queries', action: 'query2' %><br>
      <%= link_to "Total of customers by customer category and year",controller: 'queries', action: 'query3' %><br>
      <%= link_to "Yearly Earnings with packages",controller: 'queries', action: 'query4' %><br>
      <%= link_to "Pay tickets",controller: 'queries', action: 'query5' %><br>
    </div>
  </div><!-- row -->
</div>