<br>
<br>
<br>

<div lass="container">
  <div class="row centered">
	  <div class="col-lg-10 col-lg-offset-1">
      <div class="table-responsive">
      <table class="table table-borderless">
  <thead>
    <tr>
      <th class="danger">Id ticket</th>
      <th class="danger">Id customer</th>
      <th class="danger">Itinerary</th>
      <th class="danger">Departure date</th>
      <th class="danger">Paid(Yes/No)</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticketbill| %>
      <tr>
        <td><%= Ticket.find(ticketbill.ticket_id).info %></td>
        <td><%= User.find(ticketbill.id_customer).name %></td>
        <td><%= Itinerary.find(ticketbill.itinerary_id).info %></td>
        <td><%= ticketbill.departure_date %></td>
        <% if ticketbill.paid? %>
          <td>Yes</td>
        <%else%>
          <td>No</td>
          <td class="btn btn-success"><%= link_to 'Pay Ticket', pay_a_ticket_path(ticketbill.id) %></td>
          <td class="btn btn-danger"><%= link_to 'Cancel', ticketbill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div><!-- row -->
</div>
</div>