<p id="notice"><%= notice %></p>
<p>
  <strong>Plate:</strong>
  <%= @bus.plate %>
</p>


<p>
  <strong>Capacity:</strong>
  <%= @bus.capacity %>
</p>


<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>
